{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Criar Superusuário</title>
    <link rel="stylesheet" href="{% static 'css/CSSCriacaoSuperUsuario.css' %}">
</head>

<body>
    <nav>
        <h1>Criar Superusuário</h1>
        <a href="{% url 'AreaAdm' %}">Voltar para a Área de Administrador</a>
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Renderiza os campos do formulário -->
        <button type="submit">Criar Superusuário</button>
    </form>
</body>

</html>