{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Parque da Seringueira - Doações</title>
    <link rel="stylesheet" href="{% static 'css/CSSdoacoes.css' %}">
</head>

<body>

    <header>
        <nav id="barraNavegacao">
            <div id="titulo">
                <h1>ONG Parque da Seringueira</h1>
            </div>
            <div id="links">
                <a href="{% url 'homepage' %}">Início</a>
                <a href="{% url 'quemSomos' %}">Quem somos?</a>
                <a href="{% url 'oqueFazemos' %}">O que fazemos?</a>
                <a href="{% url 'doacoes' %}">Doações</a>
            </div>
        </nav>
    </header>

    <main>
        <div id="conteudo">
            <h2>Tipos de Doações Aceitas</h2>
            <div class="paragrafoImagem">
                <p class="paragrafos">
                    Sua contribuição pode fazer a diferença na vida de muitas pessoas, agradecemos seu apoio! Entre em
                    contato para mais informações sobre como fazer suas doações!
                </p>
            </div>
            <div class="paragrafoImagem">
                <div class="lista">
                    <ul>
                        <li>Cestas Básicas</li>
                        <li>Cobertores</li>
                        <li>Comida</li>
                        <li>Dinheiro</li>
                        <li>Roupas</li>
                    </ul>
                </div>
                <img src="{% static 'img/doacoesPNG.png' %}" class="doacoes">
                <img src="{% static 'img/cobertoresPNG.png' %}" class="doacoes">
            </div>
        </div>
    </main>

    <footer>
        <div id="linksRedes">
            <a href="https://wa.me/5511937195895" class="contact-link">Nosso Telefone: +55 11 93719-5895</a>
            <a href="https://www.instagram.com/cpx.parquedaseringueira?utm_source=qr&igsh=ZGgybDYzejEyNmN5">Nosso
                Instagram: @cpx.parquedaseringueira</a>
        </div>
        <div id="endereco">
            <p>Endereço:</p>
            <p>Rua da Seringueira, 106 - Parque das Seringueiras - CEP: 07190-230 | Guarulhos - SP </p>
        </div>
    </footer>
</body>

</html>