{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Parque da Seringueira - O que fazemos?</title>
    <link rel="stylesheet" href="{% static 'css/CSSoqueFazemos.css' %}">
</head>

<body>

    <header>
        <nav id="barraNavegacao">
            <div id="titulo">
                <h1>ONG Parque da Seringueira</h1>
            </div>
            <div id="links">
                <a href="{% url 'homepage' %}">Início</a>
                <a href="{% url 'quemSomos' %}">Quem somos?</a>
                <a href="{% url 'oqueFazemos' %}">O que fazemos?</a>
                <a href="{% url 'doacoes' %}">Doações</a>
            </div>
        </nav>
    </header>

    <main>
        <div id="conteudo">
            <h2>O que fazemos?</h2>
            <div class="paragrafoImagem">
                <p class="paragrafos"> Algumas das atividades promovidas pela ONG estão listadas abaixo:
                </p>
                <div class="lista">
                    <ul>
                        <li>Apoio Social: Criar redes de apoio para moradores em situação de vulnerabilidade, promovendo campanhas de arrecadação de alimentos, roupas e outros recursos</li>
                        <li>Educação e Capacitação: Organizar palestras, cursos e oficinas sobre diversos temas de interesse da comunidade, como educação financeira, saúde, cidadania e habilidades profissionais</li>
                        <li>Eventos Culturais e Sociais: Promover eventos culturais, como festas, feiras, mutirões de limpeza e atividades esportivas que incentivem a integração entre os moradores</li>
                        <li>Gestão de Fundos e Doações: Gerir recursos financeiros oriundos de contribuições dos moradores, eventos ou doações, garantindo transparência na utilização desses recursos</li>
                        <li>Mediação de Conflitos: Mediar conflitos entre moradores, buscando soluções pacíficas e acordos que beneficiem a convivência comunitária</li>
                        <li>Melhorias na Infraestrutura: Solicitar melhorias na infraestrutura do bairro, como pavimentação de ruas, melhorias na iluminação pública, limpeza urbana, saneamento básico e manutenção de praças e parques</li>
                        <li>Organização de Reuniões e Assembleias: Promover reuniões regulares para discutir problemas, propor soluções e planejar ações em benefício do bairro</li>
                        <li>Projetos Ambientais: Desenvolver projetos de preservação ambiental, como plantio de árvores, hortas comunitárias e campanhas de conscientização sobre reciclagem e sustentabilidade</li>
                        <li>Promoção de atividades culturais e recreativas</li>
                        <li>Representação dos Moradores: Representar os interesses dos moradores em reuniões com autoridades públicas, como prefeitos, vereadores e secretarias municipais</li>
                        <li>Segurança Comunitária: Organizar projetos de segurança, como rondas de vigilância, instalação de câmeras de segurança e programas de vizinhança solidária</li>                        
                    </ul>
                </div>
            </div>
    </main>

    <footer>
        <div id="linksRedes">
            <a href="https://wa.me/5511937195895" class="contact-link">Nosso Telefone: +55 11 93719-5895</a>
            <a href="https://www.instagram.com/cpx.parquedaseringueira?utm_source=qr&igsh=ZGgybDYzejEyNmN5">Nosso
                Instagram: @cpx.parquedaseringueira</a>
        </div>
        <div id="endereco">
            <p>Endereço:</p>
            <p>Rua da Seringueira, 106 - Parque das Seringueiras - CEP: 07190-230 | Guarulhos - SP </p>
        </div>
    </footer>
</body>

</html>